body {
  background-image: url("img\\falcon_background.jpg");
  background-repeat: no-repeat;
  background-position: top;
}
@media (min-width: 1920px) {
  body {
    background-size: 100%;
  }
}
@media (max-width: 400px) {
    body {
        background-position: -700px -200px;
    }
  }