:root {
  --dark-yellow: #e0e022;
  --black: #000000;
  --white: #ffffff;
  --red: #ff0000;
  --green: #00ff00;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  font-weight: bold;
  padding: 0 5px;
  cursor: pointer;
}
body {
  background-image: url("img\\falcon_background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  place-items: center center;
  flex-direction: column;
  row-gap: 25px;
  transition: background-image 0.5s ease-in-out;
}
#content{
  width: 100vw;
  display: flex;
  justify-content: center;
}
th{
  padding: 0 5px;
}
nav {
  background-color: var(--black);
  width: 100%;
  height: 60px;
  box-shadow: inset 0 -5px 8px 2px var(--dark-yellow);
  color: var(--white);
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
#themeButton {
  height: 30px;
  width: 100px;
  border-radius: 8px;
  background-color: var(--green);
}
#logo {
  width: 50%;
  max-width: 600px;
  min-width: 300px;
}
#buttons {
  display: flex;
  column-gap: 25px;
}
#buttons button {
  background-color: transparent;
  width: 120px;
  height: 120px;
  border: none;
  border-radius: 40px;
  box-shadow: inset 0 -5px 10px 5px;
  font-size: 18px;
  transition: box-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
}
#buttons button:hover {
  transform: scale(1.2, 1.2);
  transition: transform 0.2s ease-in-out;
}
#buttons button:focus {
  border: solid var(--green) 2px;
}
#vader {
  width: 400px;
  position: fixed;
  right: -100px;
  bottom: -20px;
  display: none;
}
#yoda {
  width: 300px;
  position: fixed;
  left: -30px;
  bottom: -20px;
  display: none;
}
@keyframes appearance {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 1920px) {
  body {
    background-size: 100%;
  }
  nav {
    width: 1920px;
  }
}
@media (max-width: 1024px) {
  #buttons {
    margin-top: 25px;
    flex-direction: column;
    row-gap: 25px;
  }
  #buttons button {
    width: calc(100vw - 300px);
    height: 50px;
  }
}
@media (max-width: 600px) {
  nav div {
    margin-left: 40px;
  }
  #saber {
    margin-left: 0;
  }
  #buttons button {
    width: calc(100vw - 150px);
  }
  #saber img {
    display: none;
  }
  #saber button {
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }
}
@media (max-width: 400px) {
  #logo {
    width: 80%;
  }
}
